/*
  ========================================
  Homepage
  ========================================
*/
body {
    background-color: #808026;
}

.btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
  }
  .btn-alt {
    border: 1px solid #fff;
    padding: 10px 30px;
  }
  .btn-alt:hover {
    background: #fff;
    color: #648880;
  }

  .speaker {
    margin-bottom: 44px;
  }
  .speaker-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    padding-bottom: 22px;
    text-align: center;
  }
  .speaker-info img {
    border-radius: 50%;
    height: 130px;
    margin: -66px 0 22px 0;
    vertical-align: top;
  }